<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" >
    <link rel="stylesheet" type="text/css" href="/css/login2.css">
    <title>Recover account</title>
</head>
<body>
    <form id="reset-password-form">
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="new-password" required>
        
        <button type="submit">Reset Password</button>
      </form>
      <Div class="Version">
        Version: 0.8.5
    </Div>
</body>
<script src="../js/changePass.js" type="text/javascript"></script>
</html>