<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dreamlogs</title>
</head>
<body>
    <div class="overlay" id="overlay"></div>
    <header class="head">
        <div class="container">
        <div class=""><h1 class="Title">Dreamlogs</h1></div>
        <div class="add"><button class="adition"><span>Write new dream</span></button></div> 
        </div>
    </header>
    
        <aside class="sidebar">
            
            <nav class="nav">
                <ul>
                  <li><a href="/home">Logs</a></li>
                  <li><a href="/profile">Profile</a></li>
                  <li><a href="/logout">Log out</a></li>
                </ul>
              </nav>
                                
        </aside>
    <!-- The true desire for me is empty-->    
    <div class="LogEntry">
        
        <div class="inputs">
            <div class="closebtn"><button class="close" aria-label="Close"><span></span></button></div>
        <form action="/dreampost" method="post">
            <label for="NameInput">Dream title</label><br>
            <input class="NameInput" id="NameInput" name="NameInput" type="text" placeholder="Dream title" maxlength="39"><br>
            <label for="dayInput">Dream date (dd/mm/yyyy)</label><br>
            <select class="dayInput" name="dayInput" id="dayInput"  placeholder="day">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            <select select class="monthInput" name="monthInput" id="monthInput">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
            </select>
            <select " id="yearInput" name="yearInput" maxlength="4" placeholder="year"><br>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
            </select><br>
            <label for="typeD">Type of dream</label><br>
            <select name="typeD" id="typeD" class=typeD>
            <option value="Normal Dream">Regular dream</option>
            <option value="Nightmare">Recurring dream</option>
            <option value="Lucid Dream">Lucid dream</option>
            <option value="Nightmare">Nightmare</option>
            <option value="Nightmare">False awakening</option>
            <option value="Nightmare">Sleep paralysis</option>
            </select><br>
            <br>
            <label for="DreamDescription">Dream Description</label> <br>
            <textarea name="DreamDescription" id="DreamDescription" rows="30" colsf="110" placeholder="How was your dream last night?"></textarea>
            <input type="hidden" id="userId" name="userId">
            <input type="submit" class="save" value="save dream">
            </form>
        </div>
        
    </div>
    <div class="reader">
        <div class="closebtn"><button class="close2" aria-label="Close"><span></span></button></div>
        <div class="title">Dream Title Here</div>
        
        <div class="definition">
            <span class="content"></span>
        </div>
    </div>
    <Div class="main" id="main">
         <!--<button class="box">
            <span class="left_top">Dream name:</span>
            <span class="right_top">Date:</span>
            <span class="left_bottom">Type of dream:</span>
            <span class="right_bottom">Clarity:</span>
        </button>-->
    </Div>

    <Div class="Version">
        Version: 0.7.2
    </Div>

    <script src="/js/inputs.js" type="text/javascript"></script>
    <script src="/js/DreamBox.js" type="text/javascript"></script>
    <script src="/js/windows.js" type="text/javascript"></script>
</body>
</html>
