<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dreamlog</title>
</head>
<body>
    <header>
        <div class="head">
        <div class=""><h1 class="Title">Dreamlogs</h1></div>
        </div>
        <div class="sidebar">
            <span>Profile</span>
            <span>Diary</span>
            <span>Log out</span>
        </div>
    </header>
    <div class="sidebar"></div>
    <div class="scrit"></div>
    <Div class="main">....
        <div class="box">
            <span>Dream name</span>
            <span>Date</span>
            <span>Type of dream</span>
            <span>Clarity</span>
        </div>
        <div class="box">
            <span>Dream name</span>
            <span>Date</span>
            <span>Type of dream</span>
            <span>Clarity</span>
        </div>
        <div class="box">
            <span>Dream name</span>
            <span>Date</span>
            <span>Type of dream</span>
            <span>Clarity</span>
        </div>
        <div class="box">
            <span>Dream name</span>
            <span>Date</span>
            <span>Type of dream</span>
            <span>Clarity</span>
        </div>
    </Div>

</body>
</html>
