<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dreamlog</title>
</head>
<body>
    <header class="head">
        <div class="container">
        <div class=""><h1 class="Title">Dreamlogs</h1></div>
        </div>
    </header>
        <aside class="sidebar">
            <nav class="nav">
                <ul>
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Diary</a></li>
                  <li><a href="#">Log out</a></li>
                </ul>
              </nav>                   
        </aside>
    <!-- The true desire for me is empty-->    
    <div class="add"><button class="adition"><span>Write new dream</span></button></div>
    <Div class="main">
        <button class="box">
            <span class="left_top">Dream name:</span>
            <span class="right_top">Date:</span>
            <span class="left_bottom">Type of dream:</span>
            <span class="right_bottom">Clarity:</span>
        </button>
        <button class="box">
            <span class="left_top">Dream name</span>
            <span class="right_top">Date</span>
            <span class="left_bottom">Type of dream</span>
            <span class="right_bottom">Clarity</span>
        </button>
        <button class="box">
            <span class="left_top">Dream name</span>
            <span class="right_top">Date</span>
            <span class="left_bottom">Type of dream</span>
            <span class="right_bottom">Clarity</span>
        </button>
        <button class="box">
            <span class="left_top">Dream name</span>
            <span class="right_top">Date</span>
            <span class="left_bottom">Type of dream</span>
            <span class="right_bottom">Clarity</span>
        </button>
    </Div>

</body>
</html>
