<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" >
    <title>Document</title>
</head>
<body>
    <form action="/login" id="loginForm" method="post">
        <h2>Login</h2>
        <label for="username">Username:</label><br>
        <input type="username" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input class="send" type="submit" value="Login">
    </form>
    <!-- Registration Form -->
    <form id="registrationForm" action="/register" method="post">
        <h2>Register</h2>
        <label for="registerUsername">Username:</label><br>
        <input type="text" id="registerUsername" name="registerUsername" required><br>
        <label for="registerEmail">Email:</label><br>
        <input type="email" id="registerEmail" name="registerEmail" required><br>
        <label for="registerPassword">Password:</label><br>
        <input type="password" id="registerPassword" name="registerPassword" required><br>
        <label for="confirmPassword">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br>
        <div id="message"></div>
        <input class="send" type="submit" value="register">
    </form>
    <script src="../js/validation.js" type="text/javascript"></script>
</body>
</html>