<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="/css/login2.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form id="registrationForm" action="/register" method="post">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input  type="text" id="registerUsername" name="registerUsername" placeholder="User name" required="">
					<input type="email" id="registerEmail" name="registerEmail" placeholder="Email" required="">
					<input type="password" id="registerPassword" name="registerPassword" placeholder="Password" required="">
					<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password">
					<button class='register' type="submit">Sign up</button>
				</form>
			</div>
			<div class="login">
				<form action="/login" id="loginForm" method="post">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="username" name="username" placeholder="Username" required="">
					<input type="password" name="password" placeholder="Password" required="">
					<button type="submit">Login</button>
				</form>
			</div>
	</div>
    <script src="../js/validation.js" type="text/javascript"></script>
    <script src="../js/websocket.js" type="text/javascript"></script>
</body>
</html>