<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Dreamlogs</title>
</head>
<body>
    <div class="overlay" id="overlay"></div>
    <header class="head">
        <div class="container">
        <div class=""><h1 class="Title">Dreamlogs</h1></div>
        </div>
    </header>
        <aside class="sidebar">
            <nav class="nav">
                <ul>
                    <li><a href="/home">Diary</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
              </nav>                   
        </aside>
        <div class="Main">
            <Div class="item"> 
                <div class="InfoP" id="40"></div>
                <button class="set" id="80">Settings</button>  
            </Div>   
            <Div class="item"> 
                <div class="Logs" id="60"></div>
            </div>
            <div class="settings" id="81"> 
                <div class="accountSetting" id="90"><a href="#" onclick="showForm('/CUsername')"  class="setting" >Change username</a></div>
                <div class="accountSetting" id="91"><a href="#" onclick="showForm('/CPassword')" class="setting" >Change password</a></div>
                <div class="accountSetting" id="92"><a href="#" onclick="showForm('/deleteAccount')" class="setting" >Delete account</a></div>
            </div>
            <div class="item" id="95"></div>
        </div>
        </div>
        <Div class="Version">
            Version: 0.5.1
        </Div>
        <script src="/js/profile.js" type="text/javascript"></script>
</body>
</html>


