<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Dreamlogs</title>
</head>
<body>
    <div class="overlay" id="overlay"></div>
    <header class="head">
        <div class="container">
        <div class=""><h1 class="Title">Dreamlogs</h1></div>
        </div>
    </header>
        <aside class="sidebar">
            <nav class="nav">
                <ul>
                    <li><a href="/home">Diary</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
              </nav>                   
        </aside>
        <div class="Main">

            <div class="container">
            
            <div class="InfoP" id="40"></div><br>
            <div class="Logs" id="60"></div> 
            <div class="set-container">
            <button class="set" id="80">Settings</button>
        </div>
            <div class="settings" id="81"> 
                <div class="AccountDEL">Change username</div>
                <div class="AccountDEL">Change password</div>
                <div class="AccountDEL">Delete account</div>
            </div>
            </div>
            
        </div>
        <script src="/js/profile.js" type="text/javascript"></script>
</body>
</html>


