<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dreamlog</title>
</head>
<body>
    <div class="overlay" id="overlay"></div>
    <header class="head">
        <div class="container">
        <div class=""><h1 class="Title">Dreamlogs</h1></div>
        </div>
    </header>
        <aside class="sidebar">
            <nav class="nav">
                <ul>
                  <li><a href="/profile">Profile</a></li>
                  <li><a href="/home">Diary</a></li>
                  <li><a href="/logout">Log out</a></li>
                </ul>
              </nav>                   
        </aside>
</body>
</html>