#recoverPass {
    top: 44400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-130px); /* moves form up */
  }

  input, button {
    padding: 10px;
    font-size: 1rem;
  }

  label {
    font-size: 1rem;
  }


  body {
    margin: 0;
    
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */

  }