@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    form {
        width: 100%;
        height: 50%;
    }
}
@font-face {
    font-family: 'Azaret';
    src: url('../fonts/AzeretMono-VariableFont_wght.ttf') format('truetype');
  }
  
body {
    color: rgb(151, 136, 200);
    font-family: 'Azaret';
    background-color: rgb(80, 60, 145);;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #000;
}

input[type="email"], input[type="password"] {
    margin: 10px 0;
}
span{
    color: red;
    font-size: 12px;
    margin: 5px 0;
}


textarea{
    resize: none;
    background-color: rgb(80, 60, 145);
    border: none;
    font-family: 'Azaret';
    color: rgb(151, 136, 200);
  }
  input{
    padding: 1rem 4rem 1rem 1rem;
    width: 15rem;
    background-color: #312450;
    color: rgb(151, 136, 200);
    border: none;
    font-family: 'Azaret';
  }
  input:focus {
    outline: none;
  }
  textarea:focus{
    outline: none;
  }
  .send {
    text-align: center; /* Center the text horizontally */
    padding: 15px 20px; /* Add padding for better visual appearance */
}