@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    form {
        width: 100%;
        height: 50%;
    }
}

:root {
  --boxes: #7734e7;
  --background: #fffeff;
  --Text: #010101;
  --gray: #7f7f7f;
  --lesgray: #e0e0e0;
  --pinkish: #cd79f5;
  --arrow-bg: rgba(0, 0, 0, 0);
  --arrow-icon: url('https://upload.wikimedia.org/wikipedia/commons/9/9a/Caret_down_font_awesome.svg');
  --option-bg: rgb(0, 0, 0);
  --select-bg: rgba(255, 255, 255, 0);
}
@font-face {
    font-family: 'Azaret';
    src: url('../fonts/AzeretMono-VariableFont_wght.ttf') format('truetype');
  }
  
body {
    color: var(--background);
    font-family: 'Azaret';
    background-color: var(--background);
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #000;
}

input[type="email"], input[type="password"], input[type=username], input[type='text'], input[type='send'] {
    margin: 10px 0;
    padding: 1rem 4rem 1rem 1rem;
    width: 15rem;
    background-color: var(--boxes);
    color: var(--lesgray);
    border: none;
    font-family: 'Azaret';
}
span{
    color: red;
    font-size: 12px;
    margin: 5px 0;
}
textarea{
    resize: none;
    background-color: var(--background);
    border: none;
    font-family: 'Azaret';
    color: var(--Text)
  }
  
  input:focus {
    outline: none;
  }
  textarea:focus{
    outline: none;
  }
  .send {
    cursor: pointer;
    background-color: var(--boxes);
    color: var(--Text);
    border: none;
    font-family: 'Azaret';
    text-align: center; /* Center the text horizontally */
    padding: 15px 20px; /* Add padding for better visual appearance */
}
input {
  border: 3px solid grey;
  border-radius: 3px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #312450 inset !important; /* Simulate background color */
  box-shadow: 0 0 0px 1000px #312450 inset !important; /* Simulate background color */
  -webkit-text-fill-color: rgb(151, 136, 200) !important; /* Change text color */
  border: none; /* No border */
}

input:-moz-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #312450 inset !important; /* Simulate background color */
  box-shadow: 0 0 0px 1000px #312450 inset !important; /* Simulate background color */
  color: rgb(151, 136, 200) !important; /* Change text color */
  border: none; /* No border */
  font-family: 'Azaret';
}
.register{
  color: var(--Text);
}