@media (max-width: 768px) {
  .sidebar, .main {
    width: 100%;
    float: none;
  }
}
@font-face {
    font-family: 'Azaret';
    src: url('../fonts/AzeretMono-VariableFont_wght.ttf') format('truetype');
  }
  
  body {
    font-family: 'Azaret';
    background-color: rgb(80, 60, 145);;
    height: 100%;
    
  }

.head{
  position: relative;
  z-index: 1;
  float: right;
  margin-right: 20%;
  display: flex;
  justify-content: start;
  padding: 10px;
  margin-right: 615px;
  width: 65%;
}

.Title{
  z-index: 1;
  padding-top: 25px;
  margin: 0;
  color: rgb(151, 136, 200);
  font-size: 40px;
  position: fixed;
}
.sidebar{
  z-index: -1;
  position: fixed;
  width: 15%;
  height: 100vh;
  background: #312450;
  font-size: 0.65em;
}
.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
a {
  position: relative;
  color: rgb(151, 136, 200);
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  font-size: 15px;
}
.nav ul {
  list-style: none;
  
  li {
    margin-right: 20px;
    display: inline-block;
    position: relative;
    margin: 3.2em 0;
  }
}
.main{
  position: relative;
  float: right;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  padding: 10px;
  width: 1200px;
  height: 650px;
  box-sizing: border-box;
  margin: 0;
  left: -200px;
  bottom: -100px;
}
.box{
  color: rgb(151, 136, 200);
  background-color: rgb(58, 38, 124);
  position: relative;
  height: 300px; /* Fixed height for each box */
  width: 500px;
  border: 2px solid #312450;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 19px;
  transition: .5s;
  
}
.left_top{
  position: absolute;
  top: 40px;
  left: 40px;
}
.right_top{
  position: absolute;
  top: 40px;
  right: 40px;
}
.left_bottom{
  position: absolute;
  left: 40px;
  bottom: 50px;
}
.right_bottom{
  position: absolute;
  bottom: 50px;
  right: 40px;
}
.adition{
  text-align: center;
  border: none;
  background-color: rgb(58, 38, 124);
  color: rgb(151, 136, 200);
  display: inline-block;
  font-size: 22px;
  cursor:pointer;
  margin: 4px 2px;
  height: 50px;
  width: 500px;
  transition: all 0.5s;
  border-radius: 20px;
}
.add{
  position: relative;
  margin-top: 0px;
  margin-left: 148%;
}

.adition span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.adition span:after {
  content: '+';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.adition:hover span {
  padding-right: 25px;
}

.adition:hover span:after {
  opacity: 1;
  right: 0;
}
/* sidebar hover */
.box::before{
  content: '';
  background: rgb(151, 136, 200);
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}
.box:hover::before{
  transform: scale(1.1);
  box-shadow: 0 0 15px rgb(151, 136, 200);
}
.box:hover{
  color: rgb(151, 136, 200);
  box-shadow: 0 0 5px rgb(151, 136, 200);
  text-shadow: 0 0 5px rgb(151, 136, 200);
}
/**/
/* sidebar hover */

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: rgb(151, 136, 200);
  bottom: -6px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

li:hover a::before {
  transform-origin: left;
  transform: scaleX(1);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.LogEntry{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 1;
  border: solid 1px rgb(58, 38, 124); 
  background-color: #312450;
  color: rgb(151, 136, 200);
  text-align: center; 
}
.LogEntry form {
  display: inline-block; 
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}
textarea{
  resize: none;
  background-color: rgb(80, 60, 145);
  border: none;
  font-family: 'Azaret';
  color: rgb(151, 136, 200);
}
input{
  padding: 1rem 4rem 1rem 1rem;
  width: 20rem;
  background-color: rgb(80, 60, 145);
  color: rgb(151, 136, 200);
  border: none;
  font-family: 'Azaret';
}
input:focus {
  outline: none;
}
textarea:focus{
  outline: none;
}
select{
  padding: 5px;
  background-color: rgb(80, 60, 145);
  border: none;
  color: rgb(151, 136, 200);
  font-family: 'Azaret';
}
select:focus{
  outline: none;
}
:root {
  --arrow-bg: rgb(255, 255, 255, 0);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0);
}
select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: rgb(151, 136, 200);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
}
option {
  background-color: #312450;
}
.close{
  border: none;
  font-family: 'Azaret';
  background-color: rgb(80, 60, 145);
  color: rgb(151, 136, 200);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
}
.close2{
  border: none;
  font-family: 'Azaret';
  background-color: rgb(80, 60, 145);
  color: rgb(151, 136, 200);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
}
.reader{
  border: solid 1px rgb(58, 38, 124);
  position: fixed; /* Change to fixed to keep it centered while scrolling */
  display: none; /* Initially hidden */
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 1;
  background-color: #312450;
  color: rgb(151, 136, 200);
  text-align: center;
  padding: 20px;
}
.definition{
  display: block;
  width: 80%;
  margin: 20px; /* Adjust as needed */
  text-align: left;
  padding: 10px;
  background-color: rgb(80, 60, 145);
  color: rgb(151, 136, 200);
}
.content{
  display: inline-block;
}
