
@font-face {
    font-family: 'Azaret';
    src: url('../fonts/AzeretMono-VariableFont_wght.ttf') format('truetype');
  }
  
  body {
    font-family: 'Azaret';
    background-color: rgb(80, 60, 145);;
    height: 100%;
    
  }

.head{
  float: right;
  margin-right: 20%;
  display: flex;
  justify-content: start;
  padding: 10px;
  margin-right: 600px;
  width: 65%;
}

.Title{
  padding-top: 25px;
  margin: 0;
  color: rgb(151, 136, 200);
}
.sidebar{
  position: static;
  width: 15%;
  height: 100vh;
  background: #312450;
  font-size: 0.65em;
}
.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
a {
  color: rgb(151, 136, 200);
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;

  color: rgba(#FFF, 0.35);
  display: block;
  transition: all ease-out 300ms;
}
&.active a {
  color: white;
}

&:not(.active)::after {
  opacity: 0.2;
}

&:not(.active):hover a {
  color: rgba(#FFF, 0.75);
}

&::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #5e42a6, #b74e91)
}
.nav ul {
  list-style: none;
  
  li {
    position: relative;
    margin: 3.2em 0;
  }
}